astroid==2.9.3
attrs==21.4.0
bump2version==1.0.1
bumpversion==0.6.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
coverage==6.2
dparse==0.5.1
execnet==1.9.0
future==0.18.2
gkeepapi==0.13.7
gpsoauth==1.0.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
packaging==21.3
pep8==1.7.1
platformdirs==2.4.1
pluggy==1.0.0
prompt-toolkit==1.0.14
ptyprocess==0.5.1
py==1.11.0
pycryptodomex==3.13.0
Pygments==2.11.2
PyInquirer==1.0.3
pylint==2.12.2
pypandoc==1.7.2
pyparsing==3.0.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-xdist==2.5.0
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
safety==1.10.3
six==1.16.0
testfixtures==6.18.3
toml==0.10.2
tomli==2.0.0
typing_extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
wrapt==1.13.3
